<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.drake.badday"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TitlePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".TitlePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.badday.TitlePage" />
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.badday.MainActivity" />
        </activity>
        <activity
            android:name=".ShareScreen"
            android:label="@string/title_activity_share_screen"
            android:parentActivityName=".SecondActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.badday.SecondActivity" />
        </activity>
        <activity
            android:name=".Options"
            android:label="@string/title_activity_options"
            android:parentActivityName=".SecondActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.badday.SecondActivity" />
        </activity>
        <activity
            android:name=".Eat"
            android:label="@string/title_activity_eat"
            android:parentActivityName=".Options" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.badday.Options" />
        </activity>
        <activity
            android:name=".Archive"
            android:label="@string/title_activity_archive" >
        </activity>
    </application>

</manifest>
